<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Prototype-Corel</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= stylesheet_link_tag "styles" %>
</head>
<body>
<div id="content">
<div id="header"> 
</div>
<%= flash[:notice] %>
<%= flash[:error] %>
<%= yield %>
</div>
</body>
</html>
